h1,
h2 {
    @include fluid-text (45, 35);
}

.aboutUs_text {
    @include fluid-text(20, 16);
}

// REVIEW SECTION
.review-container {
    display: flex;
    justify-content: space-between;
    gap: 50px;

    .review__inform {

        display: flex;
        flex-direction: column;
        gap: 50px;

        .none {
            display: none;
        }

        .review__dots {
            display: flex;
            gap: 24px;
            padding: 0 12px;

            &_dot {
                width: 12px;
                height: 12px;
                border-radius: 50%;
                background: var(--text-field);
            }

            &_dot:first-child {
                background: #1fa547;
            }
        }
    }

    .review__img-wrapper {
        display: flex;
        justify-content: center;

        .review__img {
            width: 100%;
            height: auto;
        }
    }
}

// SERVICES SECTION
.services {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 20px;

    &__types-wrapper {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 5px;
        overflow-x: scroll;
    }

    ::-webkit-scrollbar {
        height: 3px;
        display: none;
    }

    .services__types {
        border-radius: var(--border-20);
        position: relative;
        margin-right: 37px;
        box-shadow: 1px 3px 5px black;


        .types__img_shadow {
            width: 270px;
            height: 300px;
            position: absolute;
            bottom: 0;
            border-radius: 0 0 20px 20px;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
            color: #ffffff;

            .img__shadow_text {
                position: absolute;
                left: 30px;
                bottom: 30px;
            }

            .img__shadow_button {
                padding: 15px 70px;
                font-size: 15px;
                font-weight: 400;
                left: 15px;
                text-transform: uppercase;
                border-radius: var(--border-10);
                background: rgba(255, 255, 255, 0.18);
                display: none;
            }

            .img__shadow_text:hover .img__shadow_button {
                display: block;
                margin-top: 10px;
            }
        }
    }

    .services__types:last-child {
        margin-right: 0;
    }
}

// ABOUT SECTION
.about-us {
    background: green;
    color: aliceblue;
}

.about-container {
    display: flex;
    max-width: 1560px;
    padding: 0 20px;
    margin: 0 auto;

    .info-box {
        display: flex;
        flex-direction: column;
        max-width: 50%;
        padding: 50px 0;
        padding-right: 30px;
        gap: 50px;

        &__title {
            color: var(--color-white);
        }

        &__text {
            display: flex;
            width: 100%;
            max-height: 542px;
            padding-right: 30px;
            overflow-y: scroll;
            line-height: 150%;
        }

        &__button {
            margin-top: 30px;

            .button {
                line-height: 100%;
                border-radius: var(--border-10);
                box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.278);
            }
        }
    }

    .image-box {
        display: flex;
        margin-right: -250px;

        &__img {
            width: 100%;
            height: 100%;
        }
    }
}

::-webkit-scrollbar {
    width: 3px;
    background-color: rgb(0, 198, 7);
}

::-webkit-scrollbar-thumb {
    background: rgb(106, 255, 0);
}

// NEWS SECTION
.news {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 20PX;

    &__cards {
        display: flex;
        justify-content: space-between;
    }

    &__card {
        display: flex;
        flex-direction: column;
        width: 33%;
        height: fit-content;
        gap: 50px;
        padding: 30px;
        margin-right: 30px;
        border: 1px solid #eeeeee;
        border-radius: var(--border-20);
        box-shadow: 1px 3px 15px rgb(236, 236, 236);
    }

    &__card:last-child {
        margin-right: 0;
    }

    &__card_date {
        font-size: 15px;
        font-weight: 300;
    }

    &__card_text {
        font-size: 25px;
    }

    &__card_link {
        width: 104px;
        height: 36px;
        padding: 10px 15px;
        color: #26B447;
        font-size: 12px;
        font-weight: 600;
        border: 1px solid #d9d9d9;
        border-radius: var(--border-10);
    }
}

// GALLERY SECTION
.gallery {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px 20px;

    &__images-wrapper {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        padding-bottom: 5px;
    }

    ::-webkit-scrollbar {
        height: 3px;
        display: none;
    }

    &__img {
        display: flex;
        position: relative;
        z-index: 9999;
        margin-right: 25px;
        border-radius: var(--border-20);
        box-shadow: 1px 3px 5px black;



        .gallery__img_shadow {
            width: 280px;
            height: 325px;
            border-radius: var(--border-20);
            background: rgba(0, 0, 0, 0.2);
            position: absolute;
            top: 0;
            left: 0;
        }

        .gallery__img_search {
            position: absolute;
            top: 120px;
            left: 105px;
            display: none;
        }
    }

    &__img:last-child {
        margin: 0;
    }

    .gallery__img:hover .gallery__img_shadow {
        display: none;
    }

    .gallery__img:hover .gallery__img_search {
        display: block;
    }

}

// @MEDIA-SECTIONS *ДЛЯ ВСЕХ СЕКЦИЙ
@media(max-width:1443.9px) {
    .review-container {
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        gap: 30px;

        .review__inform {
            gap: 30px;

            .none {
                display: block;
            }

            .yes {
                display: none;
            }

            .review__dots {
                display: flex;
                justify-content: center;
                gap: 50px;
            }
        }

        .review__img-wrapper {
            width: 100%;
            height: 100%;
        }
    }

    // ДЛЯ ВСЕХ СЕКЦИЙ
    section {
        padding: 30px 0;
        gap: 30px;
    }

    .container {
        padding: 30px 20px;
        gap: 30px;
    }

    .services__types-wrapper::-webkit-scrollbar,
    .gallery__images-wrapper::-webkit-scrollbar {
        display: block;
    }

}

@media(max-width:1440px) {
    .about-container {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 100%;
        margin: 0 auto;

        .info-box {
            display: flex;
            max-width: 1200px;
            height: 700px;
            gap: 30px;
            text-align: center;
            padding: 30px 20px;

            &__text {
                display: flex;
                max-width: 1200px;
                height: auto;
                padding-right: 20px;

                p {
                    display: flex;
                    width: 100%;
                    height: 100%;

                }
            }
        }

        .image-box {
            display: flex;
            width: 90%;
            height: 750px;
            margin: 0;
            box-shadow: 1px 3px 5px black;
        }
    }
}

@media(max-width:785px) {


    .about-container {
        width: 100%;
        padding: 0;

        .info-box {
            width: 100%;
        }

        .image-box {
            width: 100%;
            height: auto;
            margin: 0;
            padding: 0;

            .image-box__img {
                width: 100%;
                height: 100%;
            }
        }
    }

}