 body {
     width: 100%;
     margin: 0;
     padding: 0;
     font-family: "noto-sans-regular";
     font-weight: 300;
     font-size: 20px;
     line-height: 1.28;
     background-color: var(--color-white);
 }

 body::-webkit-scrollbar {
     display: none;
 }

 section {
     padding: 50px 0;
 }

 a,
 button {
     cursor: pointer;
 }

 a,
 button,
 input,
 textarea {
     transition-duration: var(--transition-duration);
 }

 // КНОПКИ
 .button {
     width: 150px;
     height: 64px;
     padding: 20px 30px;
     font-size: 20px;
     font-weight: 400;
     line-height: 100%;
     border: 1px solid var(--color-white);
     border-radius: var(--border-20);
     color: var(--color-white);
 }

 .average {
     width: 254px;
     height: 65px;
     font-size: 20px;
     color: var(--color-white);
     border-radius: var(--border-20);
     background: var(--bg-g-button1);
 }

 .transparent {
     width: 213px;
     height: 50px;
     padding: 15px 70px;
     border-radius: var(--border-10);
     background: rgba(255, 255, 255, 0.18);
 }

 input[type="search"]::-webkit-search-decoration,
 input[type="search"]::-webkit-search-cancel-button,
 input[type="search"]::-webkit-search-results-button,
 input[type="search"]::-webkit-search-results-decoration {
     -webkit-appearance: none;
 }

 input {
     outline: none;
     caret-color: #c0c6d1;
 }

 h1,
 h2 {
     @include fluid-text (45, 35);
     font-size: 45px;
     font-weight: 300;
     color: var(--color-dark)
 }

 h3 {
     @include fluid-text (35, 25);
     font-weight: 300;
     color: var(--color-dark)
 }

 h4 {
     @include fluid-text (25, 24);
     font-weight: 300;
     color: var(--color-dark)
 }

 p {
     @include fluid-text(20, 12);
 }

 ::placeholder {
     color: var(--text-field);
 }

 .container {
     display: flex;
     max-width: 1560px;
     margin: 0 auto;
     padding: 0 20px;
 }

 // header bottom timetable 
 .small-bold-text,
 .small-thin-text {
     font-family: "noto-sans-regular";
     font-size: 12px;
     font-weight: 700;
     color: #8d9199;

     .small-thin-text {
         font-weight: 100;
     }
 }

 // ^ header bottom timetable
 .social-link {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 34px;
     height: 34px;
     border-radius: 50%;
     background-color: #cdcdcd;
 }

 .link-green {
     font-size: 15px;
     font-weight: 400;
     color: var(--color-green);
     text-transform: uppercase;
     text-decoration: underline;
 }