body {
  font-family: "noto-sans-regular";
  font-weight: 300;
  font-size: 20px;
  line-height: auto;
  color: var(--color-dark);
  background-color: var(--color-white);
}

a,
button,
input {
  transition-duration: var(--transition-duration);
}

:root {
  --color-dark: #262d2a;
  --dark-gray: #37403D;
  --light-gray: #858585;
  --color-green: #26b447;
  --color-white: #ffffff;
  --background-green: linear-gradient(90deg, #006943 30%, #26b447 100%);
  --bg-gr-button1: linear-gradient(90deg, #26b447 0%, #006943 100%);
  --bg-gr-button2: linear-gradient(90deg, #3adc49 0%, #26b447 45.82%, #006943 100%);
  --bg-gr-button3: linear-gradient(178deg, #26b447 0%, #229b32 50.39%, #3adc49 100%);
  --bg-gr-button-gray: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(243, 255, 172, 0.41) 100%);
  --bg-button-gray: #9b9b9b;
  --bg-button-img: rgba(255, 255, 255, 0.18);
  --shadow-bg-img: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
  --text-field: #cdcdcd;
  --alt-text: #a9aeb9;
  --bord-field-lt: 1px solid #cdcdcd;
  --bord-field-dk: 1px solid #565656;
  --border-10: 10px;
  --border-15: 15px;
  --border-20: 20px;
  --base-font: "noto-sans-regular";
  --base-light: "noto-sans-light";
  --base-semi-bold: "noto-sans-semi-bold";
  --base-bold: "noto-sans-bold";
  --base-medium: "noto-sans-medium";
  --base-italic: "noto-sans-italic";
  --secondary-font: "myriad-pro-regular";
  --secondary-semibold: "myriad-pro-semibold";
  --rare-font: "futuris-regular";
  --container-width: 1520px;
  --container-paddingX: 20px;
  --section-paddingY: 50px;
  --transition-duration: .2s;
}

@font-face {
  font-family: "noto-sans-regular";
  src: url(../fonts/NotoSans-Regular.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noto-sans-light";
  src: url(../fonts/NotoSans-Light.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noto-sans-semi-bold";
  src: url(../fonts/NotoSans-SemiBold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noto-sans-bold";
  src: url(../fonts/NotoSans-Bold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noto-sans-medium";
  src: url(../fonts/NotoSans-Medium.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "noto-sans-italic";
  src: url(../fonts/NotoSans-Italic.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "myriad-pro-regular";
  src: url(../fonts/Myriad-Pro.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "myriad-pro-semibold";
  src: url(../fonts/MyriadPro-Semibold.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "futuris-regular";
  src: url(../fonts/futuris.woff2) format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/*# sourceMappingURL=style.css.map */